*.o
*.d
*~
*.log
*.swp
*.lp
*.pyc
*.lo
*.la
.deps
.libs
code/*expData*
code/data
code/libcommon/bin/
code/libexpcommon/bin/
code/libintergdb/bin/
code/liboptimizer/bin/
code/simulation/bin/
code/simulation/expData/
code/test/bin
code/experiments/bin/
code/ext/src/gtest/Makefile
code/ext/src/gtest/build-aux/config.h
code/ext/src/gtest/build-aux/stamp-h1
code/ext/src/gtest/config.status
code/ext/src/gtest/lib/
code/ext/src/gtest/libtool
code/ext/src/gtest/samples/.dirstamp
code/ext/src/gtest/scripts/gtest-config
code/ext/src/gtest/src/.dirstamp
code/ext/src/libspatialindex/Makefile
code/ext/src/libspatialindex/config.status
code/ext/src/libspatialindex/include/Makefile
code/ext/src/libspatialindex/libtool
code/ext/src/libspatialindex/src/Makefile
code/ext/src/libspatialindex/src/capi/Makefile
code/ext/src/libspatialindex/src/libspatialindex.pc
code/ext/src/libspatialindex/src/mvrtree/Makefile
code/ext/src/libspatialindex/src/rtree/Makefile
code/ext/src/libspatialindex/src/spatialindex/Makefile
code/ext/src/libspatialindex/src/storagemanager/Makefile
code/ext/src/libspatialindex/src/tools/Makefile
code/ext/src/libspatialindex/src/tprtree/Makefile
code/ext/src/libspatialindex/test/Makefile
code/ext/src/libspatialindex/test/mvrtree/Exhaustive
code/ext/src/libspatialindex/test/mvrtree/Generator
code/ext/src/libspatialindex/test/mvrtree/MVRTreeLoad
code/ext/src/libspatialindex/test/mvrtree/MVRTreeQuery
code/ext/src/libspatialindex/test/mvrtree/Makefile
code/ext/src/libspatialindex/test/rtree/Exhaustive
code/ext/src/libspatialindex/test/rtree/Generator
code/ext/src/libspatialindex/test/rtree/Makefile
code/ext/src/libspatialindex/test/rtree/RTreeBulkLoad
code/ext/src/libspatialindex/test/rtree/RTreeLoad
code/ext/src/libspatialindex/test/rtree/RTreeQuery
code/ext/src/libspatialindex/test/tprtree/Exhaustive
code/ext/src/libspatialindex/test/tprtree/Generator
code/ext/src/libspatialindex/test/tprtree/Makefile
code/ext/src/libspatialindex/test/tprtree/TPRTreeLoad
code/ext/src/libspatialindex/test/tprtree/TPRTreeQuery
